DATABASE_URL = mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.46q7hh1.mongodb.net/test // Replace <USERNAME> and <PASSWORD> with your own credentials , to learn more about how to create a database user and get the connection string surf to https://docs.mongodb.com/manual/reference/connection-string/ // The database name is the last part of the connection string, in this case it is test ```
PORT = 3000